<% include ../includes/header.ejs %>
    <div style="padding: 2%;" class="panel panel-default">
        <div class="panel-heading">
          <table>
           <td>
            <%=product.name%>
            </td>
            <td style="text-align: right;">
            작성자 : <a class="btn-info btn-sm"><%=product.credit%></a> <%=product.username%>
            </td>
            </table>
        </div>
        <div class="panel-body">
            <div style="padding-bottom: 10px" >
               <table>
               <td>
                   대출 금액 : <%=product.price%> 원
               </td>
               <td style="text-align: right;">
                상환일 : 
                <%=product.getDate.year%> - 
                <%=product.getDate.month%> - 
                <%=product.getDate.day%>
                </td>
                </table>
            </div>
            <div style="padding-bottom: 10px">
                이자율 : <%=product.interestrate%> %
            </div>
            <div style="padding-bottom: 10px; font-family: 'Arial';" >
                우대조건 : 
            </div>
            <div style="height: auto; min-height: 100px;" class="panel panel-default">
                내용 : <%=product.content%>
            </div>
            <% if(product.thumbnail){%>
                <p>
                    <img src="/uploads/<%=product.thumbnail%>" style="max-width: 100%"/>
                </p>
            <% } %>
        </div>
    </div>
 
    <a href="/admin/products" class="btn btn-default">목록으로</a>
    <a href="/admin/products/edit/<%=product.id%>" class="btn btn-primary">수정</a>
<% include ../includes/footer.ejs %>
</script>